# Review compose.yaml file for default values

# Required for Symfony. Recommended 64 characters long string
APP_SECRET=

# Recommended 64 characters long strings
JWT_PASSPHRASE=
POSTGRES_PASSWORD=
CADDY_MERCURE_JWT_SECRET=

# Uses mailcatcher in development.
# Mailtrap integration for Symfony Mailer is supported
MAILER_DSN=
# MAILER_DSN=mailtrap+api://TOKEN@default
# MAILER_DSN=mailtrap+smtp://PASSWORD@default

# Use your domain instead of example.com
TRUSTED_HOSTS=^(localhost|127\.0\.0\.1|example.com|api)$
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1|example.com|api)(:[0-9]+)?$'
# Used for defining public facing URLs
MERCURE_PUBLIC_URL=https://example.com/.well-known/mercure
CADDY_MERCURE_PUBLIC_URL=https://example.com/.well-known/mercure
FRONTEND_URL=https://example.com
BACKEND_URL=https://example.com/core-api

# Use https://example.com to enable auto https
SERVER_NAME=http://example.com

# Values for external OAuth providers
# can be left out empty if providers won't be used
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=

# NextAuth.js v5 values. AUTH_SECRET is required and needs to be 64 cahracters long
AUTH_SECRET=
AUTH_URL=https://example.com

# Next.js public environment variables - read by client runtime (browser)
# needs to be properly defined before the frontend image is built
NEXT_PUBLIC_MERCURE_URL=https://example.com/.well-known/mercure
NEXT_PUBLIC_API_URL=https://example.com/core-api
NEXT_PUBLIC_API_ROUTE_PREFIX=/core-api

IMAGES_TAG=latest
# Can be used to add images to remote repository
IMAGES_PREFIX=
