<h1>Witaj</h1>

<p>Możesz zresetować swoje hasło, klikając poniższy link:</p>

<a href="{{ resetUrl }}">Zresetuj hasło</a>

<p>Jeśli nie prosiłeś o zresetowanie hasła, nie musisz podejmować żadnych działań.</p>

<p>
	Pozdrawiamy<br>
	Zespół ProjectCollab
</p>
