<h1>Witaj</h1>

<p>Prosimy o potwierdzenie adresu e-mail, klikając poniższy link:</p>

<a href="{{ verificationUrl }}">Potwierdź adres e-mail</a>

<p>Jeśli nie utworzyłeś konta, nie musisz podejmować żadnych działań.</p>

<p>
	Pozdrawiamy<br>
	Zespół ProjectCollab
</p>
